.input-container{
    max-width: 400px;
    
    input{
        width: 230px;
        padding: 10px;
        font-family: Arial, sans-serif;
        border-radius: 7px;
        border: none;
        margin: 0 auto;
        margin-right: 20px;
    }
}